.abouttextcontainer {
  max-width: 90vh;
  max-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: #c4d4cf;
}

.aboutmaincontainer {
  max-width: 100%;
  max-height: 100%;
  background-color: #c4d4cf;
}
