.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: #c4d4cf;
}

.body {
  background-color: #c4d4cf;
  max-height: 100%;
}
