.allcalendar {
  height: 100%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(47, 117, 145);
}

.calendardetailbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60vh;
  height: 50vh;
  background-color: rgb(123, 165, 228);
  border: 1px solid black;
}

.calendarHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  margin: 0 auto;
}
