.Gallerypicscontainer {
  margin: 0 auto;
  max-width: 80%;
  max-height: 100%;
  background-color: #c4d4cf;
  padding: 0 12px;
}

.thewholegallery {
  max-width: 100%;
  height: 100%;
  background-color: #c4d4cf;
}

.Gallerypicscontainer .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.Gallerypicscontainer .pics:hover {
  filter: opacity(0.5);
}

/*model*/

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model.img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffff;
  cursor: pointer;
}

.imageUpload {
  padding: 20px 10px;
  align-items: center;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 2002px) {
  .Gallerypicscontainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }
}

@media (max-width: 991.5px) {
  .Gallerypicscontainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .Gallerypicscontainer {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
