.navbar a {
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
}

.navbar {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navbar .adminlog a {
  text-align: right;
  color: rgb(255, 253, 246);
}
