.navbar {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
}

.navbar a:hover {
  color: rgb(172, 82, 255);
}

.navbar a:active,
.navbar a.active {
  color: rgb(29, 29, 233);
}

.navbar a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar .adminlog a {
  text-align: right;
  color: rgb(200, 210, 200);
}

.footer {
  background: #8a8b86;
  color: white;
  margin-top: auto;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 100%;
}

.socials {
  color: white;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.icons {
  width: 50px;
  height: 40px;
  font-size: 25px;
  padding-top: 10px;
}

.fa-clickable {
  cursor: pointer;
  outline: none;
}

.links {
  color: inherit;
}

.copyright {
  font-size: 15px;
  display: flex;
  flex-direction: row;
}
