.navbar a {
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
}

.navbar {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
}

body {
  margin: 0;
}
