*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

/* Custom properties */
:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  /* --linear-gradient: linear-gradient(270deg, var(--clr-footer) 0%, pink 100%); */
  --gradient: linear-gradient(#e66465, #9198e5);
  --clr-background: #f3f3f3;
  --clr-dark: #303030;
  /* --clr-nav: var(--linear-gradient); */
  /* --clr-footer: #e4dada; */
  --clr-footer: #cebfbf;
  --clr-socials: rgb(168, 116, 155);

  --fs-h1: 2.5rem;
  --fs-h2: 2.1rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.2rem;
  --fs-body: 1.025rem;
}

@media (max-width: 800px) {
  :root {
    --fs-h1: 1.7rem;
    --fs-h2: 1.4rem;
    --fs-h3: 1.1rem;
    --fs-h4: 0.89rem;
    --fs-body: 1rem;
  }

  h2 {
    padding: 0 1em;
  }
}

.App {
  margin: 0 auto;
  min-height: 100%;
  max-width: 100%;
  background-color: var(--clr-background);
}

body {
  color: var(--clr-dark);
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  overflow: auto;
  line-height: 1.6;
  margin-bottom: 110px;
}

/* Homepage section */
.homepage-container {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.heropicture {
  max-width: 35%;
  margin-top: 7em;
  min-width: 14em;
}

.headergroup {
  margin-top: 4em;
}

h1 {
  font-size: var(--fs-h1);
  text-align: center;
}

h2 {
  font-size: var(--fs-h2);
  text-align: center;
}

h3 {
  font-size: var(--fs-h3);
  text-align: center;
}

h4 {
  font-size: var(--fs-h4);
  text-align: center;
}

p {
  margin: 0 auto;
  text-align: center;
}

.neonline {
  width: 35vw;
  height: 8vh;
}

/* About section css */
.textcontainer {
  max-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0em 2.5em;
  margin: 0 auto;
  line-height: 1.4;
  max-width: 900px;
}

.aboutmaincontainer p {
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

/* People section */
.allavatarcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 20px;
  max-width: 70%;
  align-items: center;
  margin: 0 auto;
}

.labels {
  padding: 10px 10px;
  background-color: rgb(107, 167, 167);
  border-radius: 10px;
  box-shadow: 10px 10px 15px -7px rgb(79, 126, 119);
}

.peopletextcontainer {
  padding: 1em 0.5em;
  align-items: center;
}

.peoplemaincontainer p {
  max-width: 70%;
  padding: 1em 0;
}

.personcontainer {
  padding: 1.7em;
}

.peoplemaincontainer {
  text-align: center;
}

/* Calendar section */
.calendarpage {
}

.allcalendar {
  /* max-height: 100%; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.calendardetailbox {
  padding: 5px 15px;
  min-width: 300px;
  max-width: 40%;
  margin: 0 auto;
  max-height: fit-content;
}

.calendar--eventinfo > p,
h4 {
  margin: 0;
}

.eventinfo-diclaimer {
  padding-top: 2em;
}

.calendarHolder {
  width: 30%;
  padding: 5em 1.2em;
  min-width: 300px;
  margin: 0 auto;
}

.highlight {
  background: rgba(102, 13, 143, 0.442) !important;
  border-radius: 80px;
  width: 0.5rem;
  height: 2rem;
}

.unicorn {
  margin-top: 6vh;
}

.calendarpage h4,
h1 {
  padding: 1em 2em;
}

/*Gallery*/

/* .Gallerypicscontainer {
  height: 100%;
  max-width: 100%;
} */

/* Contact form */
.thewholecontact {
  max-width: 100%;
  text-align: center;
}

.form-container {
  /* position: relative; */
  left: 15%;
  max-width: 70%;
  font-family: var(--ff-primary);
  padding: 1em 2em;
  box-sizing: border-box;
  margin: 0 auto;
}

.contact-form {
  /* position: absolute; */
  top: 10%;
  left: 10%;
  /* width: 80%; */
  /* margin: auto; */
}

input,
textarea {
  width: 80%;
  margin-top: 2rem;
  border: none;
  border-bottom: 2px solid black;
}

.submit {
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  background-color: #ffe0c2;
  cursor: pointer;
  width: 80%;
}

.submit:hover {
  opacity: 0.6;
  background-color: rgb(100, 218, 218);
}

.frc-captcha {
  margin-left: 6vw;
  margin-block: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 480px) {
  .recaptchacontainer {
    margin: 0 auto;
    margin-top: 3vh;
    transform: scale(0.67);
    -webkit-transform: scale(0.67);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .form-container {
    max-width: 90%;
    left: 5%;
  }
}
